body {
  background-color: rgb(122, 228, 128);
}


#title {
  text-align: center;
  text-shadow: 2px 2px 10px rgb(255, 255, 255);
}
#image {
  width: 54%;
  height: 40%;
  
}
#img {
  margin-left: 31.5%;

  
}

.copyright{
    margin: 0% 32%;
    
}

.desc {
  margin: 0% 32%;
  padding-bottom: 20px;
}

.title-APJ {
  text-align: center;
  color: aliceblue;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  
}

#tribute-data {
  
  background-color: rgb(76, 212, 138);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0% 32%;
  box-shadow: 10px 5px 10px 1px #ebf768d8;
}
